@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  background-color: #141414 !important;
}

/* loading-spinner */
.spinner-wrapper {
  width: 100%;
  /* border: 3px solid red; */
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}