.AppLayout .custom-navBar {
  background-color: #111111 !important;
}

.AppLayout .custom-input:focus {
  border-color: #d60d0d; /* 원하는 테두리 색상으로 변경 */
  box-shadow: 0 0 0 0.25rem rgba(233, 93, 93, 0.25); /* 원하는 그림자 색상 */
  outline: none; /* 기본 파란색 outline 제거 */
}